.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}
.container .col {
  display: flex;
  flex: 1;
}
.container .col-2 {
  display: flex;
  flex: 2;
}
.container .col-3 {
  display: flex;
  flex: 3;
}
.container .col-4 {
  display: flex;
  flex: 4;
}
.container .col-center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.max-height {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-200 {
  margin-top: 200px;
}
